<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

<!--        <display-name>HelpServlet 0.0.1</display-name>-->
<!--    <servlet>-->
<!--        <servlet-name>helpServlet</servlet-name>-->
<!--        <servlet-class>org.example.servlet.HelpServletImpl</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>helpServlet</servlet-name>-->
<!--        <url-pattern>/v1/support</url-pattern>-->
<!--    </servlet-mapping>-->

<!--    <servlet>-->
<!--        <servlet-name>Example</servlet-name>-->
<!--        <servlet-class>org.example.servlet.DispatcherServletController</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>Example</servlet-name>-->
<!--        <url-pattern/>-->
<!--    </servlet-mapping>-->

    <filter>
        <filter-name>total_filter</filter-name>
        <filter-class>org.example.servlet.DispatcherServletController</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>total_filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
